.container-fluid.main{
  position: relative;
  padding: 0;
}

.navbar-default {
  background-image: none;
  background-color: transparent;
  border-radius: 0px;
  border: 0;
  box-shadow: none;
  padding: 10px;
  position: absolute; /* MENUMPUK */
  top: 0;
  left: 0;
  right: 0;
  margin-top: 70px;
  z-index: 10; /*  */
}

.navbar-default .navbar-brand {
  font-family: Verdana;
  color: #ffffff;
  font-size: 20px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .navbar-default{
    margin-top: 100px;
    background-color: #111;
  }
  .navbar-default .navbar-brand {
  font-family: Verdana;
  color: #ffffff;
  font-size: 20px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: #333;
}

.navbar-default .navbar-toggle:focus {
  background-color: #333;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .navbar-default{
    margin-top: 100px;
  }
}